@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<br />
<br />

<p>
    <h4>
        This section is supposed to be about who I am and what I enjoy doing. Instead I am going to dedicate this section to recording my experences throughout this class, MIS4200.
    </h4>
    <br />
    This is a website that I am creating for my MIS4200 class. I can already see that im going to learn a lot (first day in the code 9/6/2019)
    <br />
    I have accessed the project from my home computer using a VDI its amazing how I can access a file from anywhere I want. I am finishing the initial customization of this website toay for our first assignment to be turned in for a grade(9/8/2019)
    <br /> 
    lots of progress has been made. The database is Rick and Morty Themed but could be expanded in the future if needed. Enjoying all i am learning (9/18)
    <br />
    Data migrations are working but finiky. may connect to a new database (9/24)
    <br />
    working on sd 3 adding data lables and cleaning the page up (10/1)






</p>
