@{
    ViewBag.Title = "Contact Information";
    ViewBag.Message = " Contact me, Nicholas Nankivell, with any quiestions you may have. Even if the question is not about me.";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    80 Mill st apt B<br />
    Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    614.537.9256
</address>

<address>
    <strong>School Email:</strong>   <a href="mailto:nn605016@ohio.edu">nn605016@ohio.edu</a><br />
    <strong>Personal Email:</strong> <a href="mailto:Nank87@gmail.com">Nank87@gmail.com</a>
</address>