@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>MIS4200</h2>
    <p class="lead">
    This website was created by me, Nick Nankivell, for my MIS 4200 class. I can't to learn more about programing and websites.
    This website is designed to keep a record of Rick and Morty Characters, Episodes, and the Adventures that link the two together.
    </p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>
            Rick and Morty
        </h2>
        <p>
            Click the button to visit the Rick and Morty website.

        </p>
        <p><a class="btn btn-default" href="https://www.rickandmorty.com">Rick & Morty &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>
            Episodes
        </h2>
        <p>
            Here is a list of all rick and morty episodes rleased to date
        </p>
        <p><a class="btn btn-default" href="https://www.youngthegiant.com">Episode list &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>
          Internal Links
        </h2>
        <p>

            Here are links to other sections of my website.
            <br />
            @Html.ActionLink("Character", "Index", "Character")<br />
            @Html.ActionLink("Adventure", "Index", "Adventure")<br />
            @Html.ActionLink("Episode", "Index", "Episode")<br />

        </p>
        
    </div>
</div>