@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>MIS4200</h2>
    <p class="lead">This website was created by me, Nick Nankivell, for my MIS 4200 class. I can't to learn more about programing and websites. But in the mean time follow these links to learn more about me.</p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>
            Thata Chi
        </h2>
        <p>
            Learn more about the fraternity from the link below.

        </p>
        <p><a class="btn btn-default" href="https://www.thetachi.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>
            Young The Giant
        </h2>
        <p>
            Here is a link to the website of my favorite band.
        </p>
        <p><a class="btn btn-default" href="https://www.youngthegiant.com">Listen more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>
          Internal Links
        </h2>
        <p>
          
            Here are links to other sections of my website.
            <br />
            @Html.ActionLink("Character", "Index", "Character")<br />
            @Html.ActionLink("Adventure", "Index", "Adventure")<br />
            @Html.ActionLink("Episode", "Index", "Episode")<br />
           
        </p>
        
    </div>
</div>